
/*千分符表示,默认保留两位小数*/
var formatNumberCommaStyle = function (value, fix) {
  var result = '';
  if (fix != 0) {
    fix = (fix || 2);
  }
  var value = value || 0;
  value = value.toFixed(fix).toString();
  var num = value;
  var decm = null;
  if (value.indexOf('.') != -1) {
    var arr = value.split('.');
    num = arr[0];
    decm = arr[1];
  }
  while (num.length > 3) {
    result = ',' + num.slice(-3) + result;
    num = num.slice(0, num.length - 3);
  }
  if (num) {
    result = num + result;
  }
  if (decm) {
    result = result + "." + decm;
  }
  return result;
};

/*时间戳（毫秒）改成日期（yyyy-MM-dd*/
var formatNumber = function (n) {
  n = n.toString()
  return n[1] ? n : '0' + n
}
var regYear = getRegExp("(y+)", "i");
var timestampToDate = function (timestamp, format) {
  if (!format) {
    format = "yyyy-MM-dd";
  }
  timestamp = parseInt(timestamp);
  var realDate = getDate(timestamp);
  function timeFormat(num) {
    return num < 10 ? '0' + num : num;
  }
  var date = [
    ["M+", timeFormat(realDate.getMonth() + 1)],
    ["d+", timeFormat(realDate.getDate())],
    ["h+", timeFormat(realDate.getHours())],
    ["m+", timeFormat(realDate.getMinutes())],
    ["s+", timeFormat(realDate.getSeconds())],
    ["q+", Math.floor((realDate.getMonth() + 3) / 3)],
    ["S+", realDate.getMilliseconds()],
  ];
  var reg1 = regYear.exec(format);
  if (reg1) {
    format = format.replace(reg1[1], (realDate.getFullYear() + '').substring(4 - reg1[1].length));
  }
  for (var i = 0; i < date.length; i++) {
    var k = date[i][0];
    var v = date[i][1];
    var reg2 = getRegExp("(" + k + ")").exec(format);
    if (reg2) {
      format = format.replace(reg2[1], reg2[1].length == 1
        ? v : ("00" + v).substring(("" + v).length));
    }
  }
  return format;
}
/*时间 */
var date = getDate('2019-9-5');
var hour = date.getMonth();
var day = date.getDay();

// console.log(date);
// console.log(date.getFullYear(), date.getMonth(), date.getDate(), date.getTime(), date.getDay());//2019 8 5 1567612800000 4 

/*数据类型 */
var number = 10;
// console.log("Number" === number.constructor);//true
// console.log('number' === typeof number);//true

/*正则*/
// var a = getRegExp('\(\d{1,3})(?=(\d{3})+(?:$|\.))\','g');
// var a = getRegExp('\\bis\\b','g');
// var afterStr = ('is a boy').replace(a,"I");

var reg = getRegExp("/B(?=(/d{4})+(?!/d))", "g");
var phoneNumber = '18438638805';
var afterStr = phoneNumber.replace(reg, ' ');
// console.log(afterStr) 

module.exports = {
  formatNumberCommaStyle: formatNumberCommaStyle,
  timestampToDate: timestampToDate
};
module.exports.msg = "some msg";
